{% extends 'base.html.twig' %}
	
{% block body %}
    <div id="wrapper">
        <div id="container">
            <table id="rates">
                <thead>
                <th>USD</th>
                <th>EURO</th>
                <th>GBP</th>
                <th>Last Updates Date</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ rate.usd }}</td>
                    <td>{{ rate.eur }}</td>
                    <td>{{ rate.gbp }}</td>
                    <td>{{ rate.updatedAt }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }
        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }
        #container {
            padding: 2em;
        }
        #rates{
            width: 100%;
        }
        
        table td{
            text-align: center;
        }
    </style>
{% endblock %}
